<div>

    <a routerLink="/create">CREATE</a> | 
    <input [(ngModel)]="substr" placeholder="Search">
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th><button (click)="sortOrder('id')" class="btn btn-link">Id</button></th>
                <th><button (click)="sortOrder('code')" class="btn btn-link">Code</button></th>
                <th><button (click)="sortOrder('name')" class="btn btn-link">Name</button></th>
                <th><button (click)="sortOrder('sales')" class="btn btn-link">Sales</button></th>
                <th><button (click)="sortOrder('active')" class="btn btn-link">Active</button></th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of custs | searchCustomer:substr | sort:sortCol:sortAsc">
                <td>{{ c.id }}</td>
                <td>{{ c.code }}</td>
                <td>{{ c.name }}</td>
                <td>{{ c.sales | currency}}</td>
                <td>{{ c.active | bool:locale}}</td>
                <td>
                    <a routerLink="/detail/{{ c.id }}">Detail |</a>
                    <a routerLink="/edit/{{ c.id }}"> Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
